{% extends 'layout.twig' %}
{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Message privé</h1>
                            </div>
                            
                            <div  class="form-group">
                                <label for="copyTarget">Lien à transmettre à votre correspondant :</label>
                                <span id="copyButton" class="input-group-addon btn" title="Click to copy" onclick="CopyClipboard()">
                                    <i class="bi bi-clipboard-plus-fill"></i>
                                  </span>
                                <textarea class="form-control" rows="5" id="copyTarget" disabled>{{ link }}</textarea>
                            </div>
                            <div  class="form-group">
                                <a class="btn btn-primary btn-user btn-block" href="index.php">Accueil</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Partagez facilement des secrets en toute sécurité</h1>
                            </div>
                            <p>Ce lien ne pourra être utilisé qu'une seule fois.</p>
                            <p>Une fois le message lu, celui-ci sera automatiquement détruit.</p>
                            <p>Veuillez transmettre ce lien à votre correspondant.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Outer Row -->
{% endblock %}