{% extends 'layout.twig' %}
{% block content %}
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Message crypté</h6>
				</div>
				<div class="card-body">
					<div  class="form-group">
						<label for="copyTarget">Lien à transmettre à votre correspondant :</label>
						<button type="button" class="btn btn-primary btn-sm" title="Click to copy"  onclick="CopyClipboard()"><i class="bi bi-clipboard-check"></i> Click to copy</button>
						<textarea class="form-control" rows="5" id="copyTarget" disabled>{{ link }}</textarea>
					</div>
					<div  class="d-grid mt-2 form-group">
						<a class="btn btn-primary btn-user" href="/index.php">Accueil</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Comment ça marche ?</h6>
				</div>
				<div class="card-body">
                    <p class="card-text">Veuillez transmettre ce lien à votre correspondant.</p>
                    <p class="card-text">Ce lien ne pourra être utilisé qu'une seule fois.</p>
                    <p class="card-text">Une fois le message lu ou expiré, celui-ci sera automatiquement détruit.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}