{% extends 'layout.twig' %}
{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Message privé</h1>
                            </div>
                            <form  action="" method="post" class="needs-validation user">
                                <div  class="form-group">
                                    <label for="comment">Message privé à crypter :</label>
                                    <textarea class="form-control" rows="5" id="comment" name="comment" required></textarea>
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ Token }}" />
                                <div  class="form-group">
                                    <button class="btn btn-primary  btn-user btn-block" type="submit">Crypter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Partagez facilement des secrets en toute sécurité</h1>
                            </div>
                            <p>
                            PrivateMsg est créé pour réduire la quantité de mots de passe en texte clair stockés dans les conversations par courrier électronique et par chat en chiffrant et en générant un lien de courte durée qui ne peut être consulté qu'une seule fois.
                            </p>
                            <p>Les messages cryptés ont une durée de vie fixe et seront automatiquement supprimés après expiration.</p>
                            <p>Le message crypté ne peut être téléchargé qu'une seule fois, ce qui réduit le risque que quelqu'un jette un œil à vos secrets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Outer Row -->
{% endblock %}
