{% extends 'layout.twig' %}
{% block content %}
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Votre message à crypter</h6>
				</div>
				<div class="card-body">
					<form  action="" method="post" class="needs-validation user">
						<div  class="form-group">
							<label for="comment">Message privé à crypter :</label>
							<textarea class="form-control" rows="5" id="comment" name="comment" required></textarea>
						</div>
						<div class="mt-1 row form-group form-inline">
							<div class="col-4">
							<label for="expirein">Le message expire dans :</label>
							</div>
							<div class="col-5">
							<select class="form-select" id="expirein" name="expirein">
								<option value="1" selected>1 heure</option>
								<option value="2">1 jour</option>
								<option value="3">4 jours</option>
								<option value="4">7 jours</option>
							</select>
							</div>
						</div>
						<input type="hidden" name="csrf_token" value="{{ Token }}" />
						<div  class="d-grid mt-2 form-group">
							<button class="btn btn-primary btn-user btn-block" type="submit">Crypter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Pourquoi Message Privé ?</h6>
				</div>
				<div class="card-body">
                           <p class="card-text">
                            <b>Message privé</b> est créé pour réduire la quantité de mots de passe en texte clair qui transitent par courrier électronique et qui restent accessibles dans une boite mail ou des archives de mail.
                            En générant un lien de courte durée et qui ne peut être consulté qu'une seule fois, ce message n'existera plus sitôt consulté ou expiré..
                            </p>
                            <p class="card-text">Les messages cryptés ont une durée de vie fixe (actuellement 1h, 1 jour, 4 jours ou 7 jours) et sont automatiquement supprimés après expiration ou après avoir été lus.</p>
                            <p class="card-text">Les message cryptés ne peuvent être consultés qu'une seule fois, ce qui réduit le risque de divulgation.</p>                    
				</div>
			</div>
		</div>
	</div>
{% endblock %}
