{% extends 'layout.twig' %}
{% block content %}
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Message privé</h6>
				</div>
				<div class="card-body">
                    <div  class="form-group">
                        <label for="copyTarget">Votre message décrypté :</label>
                        <button type="button" class="btn btn-primary btn-sm" title="Click to copy"  onclick="CopyClipboard()"><i class="bi bi-clipboard-check"></i> </button>
                        <textarea class="form-control" rows="5" id="copyTarget" disabled>{{ secret }}</textarea>
                    </div>
                    <div  class="form-group">
                        <a class="btn btn-primary btn-user btn-block" href="index.php">Accueil</a>
                    </div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title text-center">Partagez facilement des secrets en toute sécurité</h6>
				</div>
				<div class="card-body">
                    <p class="card-text">Ce lien ne pourra être utilisé qu'une seule fois.</p>
                    <p class="card-text">Veuillez donc conserver le contenu de ce message.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
