<div class="card-text input-group mb-3 has-validation">
    <button class="btn btn-secondary" type="button" id="button-addon1">@</button>
    <input type="email" class="form-control" id="{{ id }}" placeholder="email" aria-label="mail" aria-describedby="basic-addon1" required>
    <div class="invalid-feedback">Vous devez saisir votre adresse mail</div>
</div>